<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just</title>
</head>
<body>
<h1>Hello, there!</h1>
<!--<button onclick="func()">Click</button>-->
<!--<button onclick="func2()">Click</button>-->
<!--<button onclick="func3()">Click</button>-->

<!--<script>-->
<!--    function func(){-->
<!--        const toSend = {-->
<!--            id: 112244,-->
<!--            name: "Book",-->
<!--            author: "Will"-->
<!--        };-->

<!--        const jsonString = JSON.stringify(toSend);-->
<!--        const xhr = new XMLHttpRequest();-->

<!--        xhr.open("POST", "http://localhost:8080/librarian/addBook");-->
<!--        xhr.setRequestHeader("Content-Type", "application/json");-->
<!--        xhr.send(jsonString);-->
<!--    }-->


<!--    function func2(){-->
<!--        const toSend = {-->
<!--            fullName: "Ebigail White",-->
<!--            phoneNumber: 0o707070707,-->
<!--            studentGroup: "AIN-2-20",-->
<!--            login: "student2",-->
<!--            password: "123"-->
<!--        };-->

<!--        const jsonString = JSON.stringify(toSend);-->
<!--        const xhr = new XMLHttpRequest();-->

<!--        xhr.open("POST", "http://localhost:8080/librarian/addStudent");-->
<!--        xhr.setRequestHeader("Content-Type", "application/json");-->
<!--        xhr.send(jsonString);-->
<!--    }-->

<!--    function func3(){-->
<!--        const toSend = {-->
<!--            start_date: "2023-01-01",-->
<!--            student_id: 1,-->
<!--            book_id: 121212-->
<!--        };-->

<!--        const jsonString = JSON.stringify(toSend);-->
<!--        const xhr = new XMLHttpRequest();-->

<!--        xhr.open("POST", "http://localhost:8080/librarian/giveBook");-->
<!--        xhr.setRequestHeader("Content-Type", "application/json");-->
<!--        xhr.send(jsonString);-->
<!--    }-->
<!--</script>-->

</body>
</html>